

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: black;
    color: #222;
}

h2 {
    font-family: cursive;
    animation: neon 5s infinite;
    font-size: 3em;

}

@keyframes neon {
    0%, 39%, 41%, 59%, 61%, 100%{
        text-shadow: #222 0 0 12px,
                    orangered 0 0 24PX,
                    orangered 0 0 36px;
    }
    40%, 60% {
        text-shadow: none;
    }
}